@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,'Work Sans' , BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #090411;
  color: aliceblue;
}

.connect {
  background-image: linear-gradient(95.44deg,#7b3fe4 22.25%,#a074ee 75.16%);
    font-weight: 600;
    /* border-radius: 0.5em; */
    padding: 0.5em 1em 0.6em;
    transition: 1s all ease;
    animation: butmove 1s ease infinite;
}

.connect:hover{
  animation: none;
  transform: scale(1.1) !important;
  transition: 0.8s ease-in;
}

@keyframes butmove {
  0%{
      transform: translateY(0px);
  }
  50%{
      transform: translateY(-6px);
  }
  100%{
      transform: translateY(0px);
  }
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box{
    width: 100%;
    border: none;
    border-bottom: 2px solid #7e22ce;
    padding: 6px;
    background-color: transparent;
    outline: none;
}


.card {
  background-color: #13142597;
}

.buy{
  cursor: pointer;

}
/* a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */